<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="/tmp/test.log"
                     filePattern="/tmp/test-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>

            <Policies>
                <MaxLineBasedTriggeringPolicy count="10" modulate="50"/>
                <!--<SizeBasedTriggeringPolicy size="64 MB"/>-->
            </Policies>

            <!--<Policies>
                <SizeBasedTriggeringPolicy size="1 KB" />
            </Policies>-->
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="index" level="trace" additivity="false">
            <appender-ref ref="RollingFile" level="trace"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>